<body>
<head>
	<title>Unofficial CORS API by NUS Hackers</title>
	<link href='http://fonts.googleapis.com/css?family=Quattrocento' rel='stylesheet' type='text/css'>
	<style type="text/css">
	#outer {
		width: 600px;
		margin: 50px auto;
	}
	h1 {font: 35px Quattrocento, Times, serif; line-height: 40px;}
	h2 {font-family: Quattrocento, Times, serif; border-bottom: 1px solid #bbb; padding-bottom: 3px;}
	#wrapper {
		font: 15px Helvetica, Arial, sans-serif;
		line-height: 23px;
	}
	pre code{
		background-color:#fffced;
		border: 1px solid #ffe043;
		display: block;
		font-family: Courier;
	}
	</style>

</head>
<div id="outer">
<div id="wrapper">
<h1>National University of Singapore Unofficial CORS API</h1>

<p>This is an unofficial CORS API, built on the side in a couple of days during the 2011 December holidays. Source code is available <a href="https://github.com/nushackers/cors-api"> on Github</a>. API details follow (documentation on the code itself is found on the Github page).</p>

<p>There are two reasons for doing this: in the best case, we intend to ask the CORS team in NUS to implement a RESTful API (and we don't mind doing it for them - if anything, this project shows that the easy bit is the design and implementation of the API; the hard bit is in the scraping and parsing of data).</p>

<p>Should this approach fail, the NUS Hackers will host and maintain this API for as long as is needed.</p>

<p>If the second scenario comes to pass, please submit bug reports, feature requests, or pull requests <a href="https://github.com/nushackers/cors-api">on Github</a>. <strong>We're doing this because we think it's good for student developers in NUS.</strong> If you're into things like this; you find programming fun, or you want to write software for the betterment of society, come join us at <a href="http://nushackers.org">nushackers.org</a></p>

<p><strong>Note:</strong> This project is built on Python, MongoDB, Flask and Scrapy. Instructions on how to fork and roll your own may be found in the <a href="https://github.com/nushackers/cors-api/blob/master/readme.markdown">readme over at github.</a></p>

<h2>API Details</h2>
<p>All API access is over HTTP, and is accessed from the api.nushackers.org domain. All data is received as JSON.</p>

<pre><code>GET /modules</code></pre>

<p>Returns a list of all the modules. An example:</p>

<script src="https://gist.github.com/1447313.js"> </script>

<p>Note that it returns a list of dictionaries, each dictionary representing a module.</p>

<p>To perform a regex search:</p>

<pre><code>GET /modules/search/:regex
</code></pre>

<p>Returns a list of modules that matches the appended regex. So for instance <code>/modules/search/CS</code> would return all the CS-prefix modules. And running <code>modules/search/IS4</code> would return all the IS level 4 modules.</p>

<pre><code>GET /module/:modulecode
</code></pre>

<p>Returns the details for just that module code, as follows:</p>

<script src="https://gist.github.com/1447325.js"> </script>

<p>Note that occurences are a list of numbers representing weeks in the semester. Most modules have classes every week, but some don't. For instance, odd weeks and even weeks are represented with <code>[1,3,5,7,9,11,13]</code> and <code>[2,4,6,8,10,12]</code> respectively.</p>

<p>Day represents the days of the week, with Monday being 1 and Sunday being 7.</p>

<pre><code>GET /timetable/:modulecode
</code></pre>

<p>Returns the lecture and tutorial timetables for the module code, like so:</p>

<script src="https://gist.github.com/1447330.js"> </script>

<br/><br/>
<p style="float: right"><em>Built by an army of <a href="http://nushackers.org">crazy IT buggers</a>.</em></p>
</div>
</div>